appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
black==20.8b1
certifi>=2022.12.07
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cssmin==0.2.0
deepdiff==5.2.3
Flask==1.1.2
Flask-Assets==2.0
geographiclib==1.50
geojson==2.5.0
geopy==2.1.0
h11==0.12.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsmin==2.2.2
MarkupSafe==1.1.1
mypy-extensions==0.4.3
numpy>=1.22
ordered-set==4.0.2
osm2geojson==0.1.29
packaging==20.9
pathspec==0.8.1
pluggy==0.13.1
py==1.10.0
pydantic==1.8.1
pymongo==3.11.3
pyparsing==2.4.7
pytest==7.2.0
python-decouple==3.4
regex==2021.3.17
requests==2.25.1
Shapely==1.7.1
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3>=1.26.5
visvalingamwyatt==0.1.4
webassets==2.0
Werkzeug==2.2.3
